@use 'sass:color';

$themes: (
  light: (
    'primary':      #f8f9fa,
    'secondary' :   #e9ecef,
    'alt' :         #dee2e6,
    'border' :      #ced4da,
    'highlight':    #BDE4DA,
    'hl-secondary': #AAD3CB,
    'fg-primary':   #495057,
    'fg-secondary': #868e96,
    'fg-emphasis':  #343a40,
    'fg-alt':       #586067,
    'accent':       #0ca678,
    'accent-light': #12b886,
    'analogue':     #ae3ec9,
    'complement':   #f59f00,
    'info':         #1c7ed6,
    'success':      #37b24d,
    'warn':         #f59f00,
    'error':        #f03e3e,
    'yellow':       #f59f00,
    'orange':       #f76707,
    'red':          #f03e3e,
    'pink':         #d6336c,
    'purple':       #ae3ec9,
    'blue':         #1c7ed6,
    'cyan':         #1098ad,
    'green':        #37b24d,
    'blurple':      #5865F2,
  ),
  dark: (
    'primary':      #212529,
    'secondary' :   #14171a,
    'alt' :         #1B1E22,
    'border' :      #3F454C,
    'highlight':    #59402A,
    'hl-secondary': #43301d,
    'fg-primary':   #dee2e6,
    'fg-secondary': #868e96,
    'fg-emphasis':  #ffffff,
    'fg-alt':       #d9dde0,
    'accent':       #ff922b,
    'accent-light': #ffa94d,
    'analogue':     #cc5de8,
    'complement':   #d6336c,
    'info':         #22b8cf,
    'success':      #20c997,
    'warn':         #ffd43b,
    'error':        #ff6b6b,
    'yellow':       #ffd43b,
    'orange':       #ff922b,
    'red':          #ff6b6b,
    'pink':         #f06595,
    'purple':       #cc5de8,
    'blue':         #5c7cfa,
    'cyan':         #22b8cf,
    'green':        #20c997,
    'blurple':      #5865F2,
  ),
);

@each $name, $theme in $themes {
  .theme-#{$name} {
    @each $key, $value in $theme {
      --c-#{$key}: #{$value};
      --c-#{$key}-rgb:
        #{color.channel($value, "red", $space: rgb)},
        #{color.channel($value, "green", $space: rgb)},
        #{color.channel($value, "blue", $space: rgb)};
    }
  }
}
